<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>函数</string>
		<key>controllerName</key>
		<string>FuncitonDemoController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>判断语句</string>
		<key>controllerName</key>
		<string>JudgeViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>循环</string>
		<key>controllerName</key>
		<string>CycleViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>原生请求</string>
		<key>controllerName</key>
		<string>URLSessionViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>单例写法</string>
		<key>controllerName</key>
		<string>SingletonViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>闭包函数</string>
		<key>controllerName</key>
		<string>ClosuresViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>多线程</string>
		<key>controllerName</key>
		<string>GCDViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>字符串</string>
		<key>controllerName</key>
		<string>StringViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>数组</string>
		<key>controllerName</key>
		<string>ArrayViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NSPredicate</string>
		<key>controllerName</key>
		<string>NSPredicateViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>集合</string>
		<key>controllerName</key>
		<string>SetViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>字典</string>
		<key>controllerName</key>
		<string>DictionaryViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>元组</string>
		<key>controllerName</key>
		<string>TuplesViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>可选类型</string>
		<key>controllerName</key>
		<string>OptionalsViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>枚举</string>
		<key>controllerName</key>
		<string>EnumViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>结构体和类</string>
		<key>controllerName</key>
		<string>StructAndClassViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>属性</string>
		<key>controllerName</key>
		<string>PropertyViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>方法</string>
		<key>controllerName</key>
		<string>MethodViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>继承</string>
		<key>controllerName</key>
		<string>BaseClassViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>构造器包含转换类型</string>
		<key>controllerName</key>
		<string>StructureViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>扩展</string>
		<key>controllerName</key>
		<string>ExtensionsViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>协议</string>
		<key>controllerName</key>
		<string>ProtocolViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>泛型</string>
		<key>controllerName</key>
		<string>GenericViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>继承</string>
		<key>controllerName</key>
		<string>InheritanceViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>wkWebView</string>
		<key>controllerName</key>
		<string>WkWebViewViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>高阶函数</string>
		<key>controllerName</key>
		<string>HighOrderViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>工具验证</string>
		<key>controllerName</key>
		<string>UtilsViewController</string>
	</dict>
</array>
</plist>
